{% extends "blog_app/base.html" %}
{% block content %}

<!-- Blog Entries Column -->
<div class="col-md-6">

    <h1 class="my-4">About
      <small>Us</small>
    </h1>


    <!-- Blog Post -->
    <div class="card mb-4">
    
      <div class="card-body">
        <h2 class="card-title">We’re a global team</h2>
        <h3 class="card-title">with insanely high standards</h3>
        <p class="card-text">Tivix is headquartered in San Francisco, with regional offices in London, Wrocław, Portland, and New York City. Our primary focus is the agile development of cloud-connected web and mobile apps.</p>
        <p class="card-text">As self-managing professionals, we hold high standards for ourselves and for our client-centered consulting work. You will have the opportunity to work autonomously and on team projects to deliver real client value.</p>
      </div>
    </div>
    
  </div>

  {% endblock %}